.root {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .root {
    width: 100%;
    height: 100%;
    min-width: 0;
    min-height: 0;
  }
}
.header:global(.__wab_instance) {
  position: relative;
}
.section:global(.__wab_instance) {
  position: relative;
}
.freeBox__z7WcT {
  width: 100%;
  height: auto;
  max-width: 1104px /* plasmic-token: WIFAvSIjAP4H */;
  display: flex;
  flex-direction: column;
  min-width: 0;
}
.freeBox__z7WcT > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 64px);
  height: calc(100% + 64px);
}
.freeBox__z7WcT > :global(.__wab_flex-container) > *,
.freeBox__z7WcT > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__z7WcT > :global(.__wab_flex-container) > picture > img,
.freeBox__z7WcT
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 64px;
}
.columns__uUz81 {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: auto;
  flex-shrink: 1;
  min-width: 0;
}
.columns__uUz81 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  flex-wrap: nowrap;
  min-width: 0;
  margin-left: calc(0px - 32px);
  width: calc(100% + 32px);
}
.columns__uUz81 > :global(.__wab_flex-container) > :nth-child(2n + 1) {
  width: calc((100% - 2 * 32px) * 6 / 12);
}
.columns__uUz81 > :global(.__wab_flex-container) > :nth-child(2n + 2) {
  width: calc((100% - 2 * 32px) * 6 / 12);
}
.columns__uUz81 > :global(.__wab_flex-container) > *,
.columns__uUz81 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns__uUz81 > :global(.__wab_flex-container) > picture > img,
.columns__uUz81
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__uUz81 {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;
    flex-shrink: 1;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__uUz81 > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap-reverse;
    min-width: 0;
    margin-top: calc(0px - 16px);
    height: calc(100% + 16px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__uUz81 > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * 32px) * 12 / 12);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__uUz81 > :global(.__wab_flex-container) > *,
  .columns__uUz81 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .columns__uUz81 > :global(.__wab_flex-container) > picture > img,
  .columns__uUz81
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-top: 16px;
  }
}
.column__ttYnN {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 50%;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__ttYnN {
    width: 100%;
  }
}
.freeBox__ar8Yw {
  display: flex;
  position: relative;
  flex-direction: column;
}
.freeBox__ar8Yw > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 12px);
  height: calc(100% + 12px);
}
.freeBox__ar8Yw > :global(.__wab_flex-container) > *,
.freeBox__ar8Yw > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__ar8Yw > :global(.__wab_flex-container) > picture > img,
.freeBox__ar8Yw
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 12px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__ar8Yw {
    width: 100%;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__ar8Yw > :global(.__wab_flex-container) {
    min-width: 0;
  }
}
.text__uPTp {
  font-size: 32px;
  font-weight: 700;
  color: rgb(5, 5, 5) /* plasmic-token: NEon4Y--Z */;
  position: relative;
  text-align: left;
}
.text__rvQoc {
  position: relative;
  text-align: left;
}
.bullet___4QqvG:global(.__wab_instance) {
  position: relative;
}
.bullet__odmZo:global(.__wab_instance) {
  position: relative;
}
.bullet___2K7Hc:global(.__wab_instance) {
  position: relative;
}
.text___2VASx {
  position: relative;
  text-align: left;
}
.freeBox__h1URl {
  display: flex;
  position: relative;
  flex-direction: row;
  margin-top: calc(16px + 12px) !important;
}
.freeBox__h1URl > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-left: calc(0px - 20px);
  width: calc(100% + 20px);
}
.freeBox__h1URl > :global(.__wab_flex-container) > *,
.freeBox__h1URl > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__h1URl > :global(.__wab_flex-container) > picture > img,
.freeBox__h1URl
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 20px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__h1URl {
    display: flex;
    flex-direction: column;
    margin-top: calc(16px + 12px) !important;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__h1URl > :global(.__wab_flex-container) {
    flex-direction: column;
    align-items: center;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 8px);
    height: calc(100% + 8px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__h1URl > :global(.__wab_flex-container) > *,
  .freeBox__h1URl > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__h1URl > :global(.__wab_flex-container) > picture > img,
  .freeBox__h1URl
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 8px;
  }
}
.button__s7SN:global(.__wab_instance) {
  position: relative;
}
.svg__yuogK {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.svg__nEe5R {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.button__xfNyS:global(.__wab_instance) {
  position: relative;
}
.svg__xP872 {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.svg__qf3N4 {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.column__sITa {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 50%;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__sITa {
    width: 100%;
  }
}
.img__dcxBc {
  position: relative;
  object-fit: cover;
  width: 100%;
  min-width: 0;
}
.img__dcxBc > picture > img {
  object-fit: cover;
}
.img__dcxBc > .__wab_img-spacer > img {
  object-fit: cover;
}
.columns__w1HrF {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: auto;
  min-width: 0;
}
.columns__w1HrF > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  flex-wrap: nowrap;
  min-width: 0;
  margin-left: calc(0px - 32px);
  width: calc(100% + 32px);
}
.columns__w1HrF > :global(.__wab_flex-container) > :nth-child(2n + 1) {
  width: calc((100% - 2 * 32px) * 6 / 12);
}
.columns__w1HrF > :global(.__wab_flex-container) > :nth-child(2n + 2) {
  width: calc((100% - 2 * 32px) * 6 / 12);
}
.columns__w1HrF > :global(.__wab_flex-container) > *,
.columns__w1HrF > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns__w1HrF > :global(.__wab_flex-container) > picture > img,
.columns__w1HrF
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__w1HrF {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__w1HrF > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
    margin-top: calc(0px - 16px);
    height: calc(100% + 16px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__w1HrF > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * 32px) * 12 / 12);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__w1HrF > :global(.__wab_flex-container) > *,
  .columns__w1HrF > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .columns__w1HrF > :global(.__wab_flex-container) > picture > img,
  .columns__w1HrF
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-top: 16px;
  }
}
.column__pS9ZU {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 50%;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__pS9ZU {
    width: 100%;
  }
}
.img__uvt1H {
  position: relative;
  object-fit: cover;
  width: 100%;
  align-self: flex-start;
  min-width: 0;
}
.img__uvt1H > picture > img {
  object-fit: cover;
}
.img__uvt1H > .__wab_img-spacer > img {
  object-fit: cover;
}
.column__qyqhj {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 50%;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__qyqhj {
    width: 100%;
  }
}
.freeBox__kqVeZ {
  display: flex;
  position: relative;
  flex-direction: column;
}
.freeBox__kqVeZ > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 12px);
  height: calc(100% + 12px);
}
.freeBox__kqVeZ > :global(.__wab_flex-container) > *,
.freeBox__kqVeZ > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__kqVeZ > :global(.__wab_flex-container) > picture > img,
.freeBox__kqVeZ
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 12px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__kqVeZ {
    width: 100%;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__kqVeZ > :global(.__wab_flex-container) {
    min-width: 0;
  }
}
.text___8LCgJ {
  font-size: 32px;
  font-weight: 700;
  color: rgb(5, 5, 5) /* plasmic-token: NEon4Y--Z */;
  position: relative;
  text-align: left;
}
.text__unHaw {
  position: relative;
  text-align: left;
}
.bullet__tbrY:global(.__wab_instance) {
  position: relative;
}
.bullet__aWwsA:global(.__wab_instance) {
  position: relative;
}
.bullet__ihWDi:global(.__wab_instance) {
  position: relative;
}
.text__qgDSb {
  position: relative;
  text-align: left;
}
.freeBox__b9R5X {
  display: flex;
  position: relative;
  flex-direction: row;
  margin-top: calc(16px + 12px) !important;
}
.freeBox__b9R5X > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-left: calc(0px - 20px);
  width: calc(100% + 20px);
}
.freeBox__b9R5X > :global(.__wab_flex-container) > *,
.freeBox__b9R5X > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__b9R5X > :global(.__wab_flex-container) > picture > img,
.freeBox__b9R5X
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 20px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__b9R5X {
    display: flex;
    flex-direction: column;
    margin-top: calc(16px + 12px) !important;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__b9R5X > :global(.__wab_flex-container) {
    flex-direction: column;
    align-items: center;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 8px);
    height: calc(100% + 8px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__b9R5X > :global(.__wab_flex-container) > *,
  .freeBox__b9R5X > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__b9R5X > :global(.__wab_flex-container) > picture > img,
  .freeBox__b9R5X
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 8px;
  }
}
.button__d8GYy:global(.__wab_instance) {
  position: relative;
}
.svg__cpLa5 {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.svg___59LMb {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.button__gmeW8:global(.__wab_instance) {
  position: relative;
}
.svg__m0Rp {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.svg__t9SOw {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.homeCta:global(.__wab_instance) {
  position: relative;
}
.footer:global(.__wab_instance) {
  position: relative;
}
