.root {
  width: 100%;
  height: auto;
  max-width: 1104px /* plasmic-token: WIFAvSIjAP4H */;
  display: flex;
  position: relative;
  justify-content: space-between;
  min-width: 0;
  padding: 16px 8px;
}
.freeBox__tzomX {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox__fdUce {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
  width: 100%;
  height: auto;
  max-width: 100%;
  align-self: center;
  min-width: 0;
  padding: 8px;
}
.link {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  min-width: 0;
}
.text__uYesV {
  position: relative;
  width: 100%;
  height: auto;
  text-align: center;
  font-family: "Vollkorn", serif;
  font-size: 55px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__uYesV {
    font-size: 35px;
  }
}
.svg {
  object-fit: cover;
  width: 48px;
  height: 48px;
  flex-shrink: 0;
  display: none;
}
.freeBox__wX0PL {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  align-self: center;
  min-width: 0;
}
.freeBox__wX0PL > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  min-width: 0;
  margin-left: calc(0px - 20px);
  width: calc(100% + 20px);
}
.freeBox__wX0PL > :global(.__wab_flex-container) > *,
.freeBox__wX0PL > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__wX0PL > :global(.__wab_flex-container) > picture > img,
.freeBox__wX0PL
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 20px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__wX0PL {
    display: none;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__wX0PL > :global(.__wab_flex-container) {
    margin-left: calc(0px - 16px);
    width: calc(100% + 16px);
    margin-top: calc(0px - 0px);
    height: calc(100% + 0px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__wX0PL > :global(.__wab_flex-container) > *,
  .freeBox__wX0PL > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__wX0PL > :global(.__wab_flex-container) > picture > img,
  .freeBox__wX0PL
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 16px;
    margin-top: 0px;
  }
}
.button___7XKl:global(.__wab_instance) {
  position: relative;
}
.svg__cUc3F {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.text__v2Iyi {
  font-size: 24px;
  font-family: "Mate", serif;
}
.svg__uskaT {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.button__byUvM:global(.__wab_instance) {
  position: relative;
}
.svg__kaf6B {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.text___4E3Vt {
  font-size: 24px;
  font-family: "Mate", serif;
}
.svg__fMiwT {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.button__udQ2V:global(.__wab_instance) {
  position: relative;
}
.svg__hKzYf {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.text__thjzR {
  font-size: 24px;
  font-family: "Mate", serif;
}
.svg__pabIn {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.button__l4NpK:global(.__wab_instance) {
  position: relative;
}
.svg__sYkDu {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.text__o5L0P {
  font-size: 24px;
  font-family: "Mate", serif;
}
.svg__cqmu {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.button__tbvZ:global(.__wab_instance) {
  position: relative;
}
.svg__xKfwy {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.text___1FnDf {
  height: auto;
  font-size: 24px;
  font-family: "Mate", serif;
}
.svg__m2MVu {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.freeBox__l6Brj {
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  display: none;
  padding: 0px 8px 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__l6Brj {
    display: flex;
  }
}
.svg__bEIx7 {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.text__wYfNl {
  font-size: 24px;
  font-family: "Mate", serif;
}
.svg__dD64Z {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.button__i1Vah:global(.__wab_instance) {
  position: relative;
}
.svg__wjUuf {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.text___0Xak {
  font-size: 24px;
  font-family: "Mate", serif;
}
.svg__shNij {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.button__bvT8Y:global(.__wab_instance) {
  position: relative;
}
.svg__qtQjB {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.text__j6Er9 {
  font-size: 24px;
  font-family: "Mate", serif;
}
.svg__anDpW {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.button__qimbe:global(.__wab_instance) {
  position: relative;
}
.svg__eGdh {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.text__xKk8 {
  font-size: 24px;
  font-family: "Mate", serif;
}
.svg__tZxQv {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.button___82Ml4:global(.__wab_instance) {
  position: relative;
}
.svg__zfNbj {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.text__ln2Jl {
  height: auto;
  font-size: 24px;
  font-family: "Mate", serif;
}
.svg___6Edfj {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
