.root:global(.__wab_instance) {
  position: relative;
}
.freeBox__lgfRg {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
}
.freeBox__u8Bu9 {
  display: flex;
  flex-direction: column;
}
.freeBox__u8Bu9 > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: center;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox__u8Bu9 > :global(.__wab_flex-container) > *,
.freeBox__u8Bu9 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__u8Bu9 > :global(.__wab_flex-container) > picture > img,
.freeBox__u8Bu9
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.slotTargetName {
  font-size: 18px;
  font-weight: 700;
  text-align: center;
  color: rgb(5, 5, 5) /* plasmic-token: NEon4Y--Z */;
}
.text__vsPdt {
  font-size: 48px;
}
.freeBox__wDaWr {
  display: flex;
  flex-direction: column;
  position: relative;
}
.freeBox__wDaWr > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox__wDaWr > :global(.__wab_flex-container) > *,
.freeBox__wDaWr > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__wDaWr > :global(.__wab_flex-container) > picture > img,
.freeBox__wDaWr
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.bullet__rflan:global(.__wab_instance) {
  position: relative;
}
.bullet__wUcWx:global(.__wab_instance) {
  position: relative;
}
.bullet__rdqL:global(.__wab_instance) {
  position: relative;
}
.freeBox__vzqg {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: calc(13px + 8px) !important;
}
.button__vwhKh:global(.__wab_instance) {
  position: relative;
}
.svg__umyql {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.svg__cy9Gg {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.svg__fvdEl {
  width: 16px;
  height: 16px;
  position: relative;
  object-fit: cover;
}
