.root {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background: #e4ffa229;
  min-width: 0;
  min-height: 0;
}
.root > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 0;
  min-height: 0;
  margin-top: calc(0px - 64px);
  height: calc(100% + 64px);
}
.root > :global(.__wab_flex-container) > *,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.root > :global(.__wab_flex-container) > picture > img,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-top: 64px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .root {
    width: 100%;
    height: 100%;
    min-width: 0;
    min-height: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .root > :global(.__wab_flex-container) {
    min-width: 0;
    min-height: 0;
  }
}
.freeBox___5LpHa {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  max-width: 800px;
  min-width: 0;
  min-height: 0;
  padding: 8px;
}
.header:global(.__wab_instance) {
  position: relative;
}
.freeBox__qLex {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  top: auto;
  left: auto;
  z-index: 1;
  align-self: center;
  max-height: 441px;
  overflow: hidden;
  min-width: 0;
  min-height: 0;
  padding: 8px;
}
.img___2Emxm {
  object-fit: contain;
  object-position: left top;
  position: relative;
  left: auto;
  top: auto;
  z-index: 1;
  flex-shrink: 0;
  flex-grow: 0;
  display: none !important;
}
.img___2Emxm > picture > img {
  object-fit: contain;
  object-position: left top;
}
.img___2Emxm > .__wab_img-spacer > img {
  object-fit: contain;
  object-position: left top;
}
.img__lW2N {
  position: relative;
  object-fit: scale-down;
  object-position: 50% 50%;
  width: 580px;
}
.img__lW2N > picture > img {
  object-fit: scale-down;
  object-position: 50% 50%;
}
.img__lW2N > .__wab_img-spacer > img {
  object-fit: scale-down;
  object-position: 50% 50%;
}
.footer:global(.__wab_instance) {
  position: relative;
}
